{% include 'cabecalho.html' %}


<h1 class="mb-4">{{valor_recebido}}</h1>


<a href="/saudacao/Antonio"> Parâmetro de Rota </a> <br> <br>

<a href="/saudacao2/?nome=José">Query String (Agora Funciona)</a> <br><br>


<form action="/login" method="POST">
    <input type="text" name="usuario" placeholder="login" > <br><br>
    <input type="password" name="senha" placeholder="senha" > <br><br>
    <input type="email" name="email" placeholder="email" > <br><br>

    <button type="submit">Enviar</button>
</form>

{% include 'rodape.html' %}
